---
const { title, date } = Astro.props;
import Logo from '../../assets/logo.png'


---
<!-- <div>
    <img src='../../assets/logo' alt="Logo" class="logo" />
    <h1>{title}</h1>
    <p>{date}</p>
</div> -->

<header>
    <a href="/">
        <!-- <img src='../../assets/logo.png' alt="alt" class="logo" /> -->
        <!-- <img src='assets/logo.png' alt="alt" class="logo" /> -->
    </a>
</header>